.nodeTabContainer {
  display: flex;
  width: 100%;
  line-height: 3rem;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 15px 0;
  background-color: white;
}

.selectableArea:hover {
  cursor: pointer;
  font-weight: 400;
}
