.boxShadow4 {
  background-color: white;
  box-shadow: 0px 8px 24px 0px rgba(204, 204, 204, 0.2);
  border-radius: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23vw;
}

.boxShadow2 {
  background-color: white;
  box-shadow: 0px 8px 24px 0px rgba(204, 204, 204, 0.2);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39vw;
}

.boxShadow {
  background-color: white;
  box-shadow: 0px 8px 24px 0px rgba(204, 204, 204, 0.2);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maginB {
  border: 1px solid blue;
  margin-bottom: 20px;
}
