// 블록, 트랜잭션, 서비스
.Contents {
  min-width: 1200px;
  background: #f4f7ff;
  height: 78vh;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 40px 40px;
}

.ContentsTitle {
  position: relative;
  left: 20px;
  line-height: 0;
  display: flex;
  justify-content: flex-start;
}

.Dashboard {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.maginBw100 {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

// 여기가 작업해줄 곳
.boxShadow {
  background-color: white;
  box-shadow: 0px 8px 24px 0px rgba(204, 204, 204, 0.2);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxLayout4 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boxLayout2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.boxLayout1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boxShadow {
  background-color: white;
  box-shadow: 0px 8px 24px 0px rgba(204, 204, 204, 0.2);
  border-radius: 20px;
  padding: 10px;
}

.boxLayoutel4 {
  width: 22%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boxLayoutel2 {
  width: 48%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boxShadowNonePadding {
  box-shadow: 0px 8px 24px 0px rgba(204, 204, 204, 0.2);
  border-radius: 20px;
  padding: 8px 0;
}

.Chart {
  font-size: 12px;
  padding: 0px;
  & .chart_trans_title {
    text-align: center;
    font-size: 1.4rem;
  }
}
// 대시보드 Cnt 부분============
.DashboardCntNum {
  font-size: 3rem;
  margin: 0 0 70px 0;
  line-height: 2rem;
  color: #1653da;
}
.DashboardTimeBox {
  margin: -50px 0 30px 0;
}
