.Header {
  border: 1px solid red;
  // delete
  background: #f4f7ff;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .leftA {
    margin-left: 60px;
    & .headerTitle {
      font-size: 2rem;
      font-weight: 600;
    }
  }
  & .rightA {
    margin-right: 60px;
    // 임시값
    min-width: 600px;
    border: 1px solid blue;
    //
    display: flex;
    & .searchBar {
      width: 298px;
      height: 44px;
    }
    & .userLogo {
      width: 44px;
      height: 44px;
      border-radius: 10px;
    }
    & .appearance {
      width: 44px;
      height: 44px;
      border-radius: 10px;
    }
  }
}
