.Header {
  border: 1px solid red;
  // delete
  background: #f4f7ff;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .leftA {
    margin-left: 60px;
    & .headerTitle {
      font-size: 2rem;
      font-weight: 600;
    }
  }
  & .rightA {
    margin-right: 60px;
    & .searchBar {
    }
    & .userLogo {
    }
  }
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 1.9rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
