.Navbar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  & .logo {
    width: 100%;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    & .img {
      width: 150px;
      height: 70px;
      background: url("../../asset/imgs/docuChain_white_logo.png");
      background-size: 150px;
      background-repeat: no-repeat;
    }
  }

  & .innerContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & .avatar {
      display: flex;
      flex-direction: column;
      align-items: center;
      & .img {
        width: 90px;
        height: 90px;
        border-radius: 60px;
        background: gray;
      }
      & .name {
        margin: 20px 0 10px;
        font-size: 1.4rem;
        color: #fff;
      }
      & .position {
        margin: 0;
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.6);
      }
    }
    & .nav {
      margin-top: 60px;

      & .navList {
        transform: translate(14px);
        padding: 0px;

        & .li.navlinkClicked {
          border-radius: 5px;
          background-color: #4e81ef;
        }
        & .li.navlinkClicked a {
          color: white;
        }
        & .li.navlinkClicked a::before {
          content: " ";
          display: inline-block;
          background: #eab308;
          width: 8px;
          height: 8px;
          border-radius: 5px;
          margin-right: -8px;
          transform: translate(-20px, -4px);
        }
        & li {
          text-align-last: left;
          transform: translate(-20px);
          padding: 4px 0;
          margin-bottom: 14px;
          margin: 14px 20px;

          & a {
            display: inline-block;
            margin: 0 60px;
            color: rgba(255, 255, 255, 0.6);
            font-weight: 600;
            font-size: 1.3rem;
            width: 100px;
          }
        }
      }
    }
  }
}
.redbull {
  color: red;
}
.kamill {
  color: green;
}
