.logoList {
  z-index: 2;
  text-align: center;

  & span:hover {
    font-weight: bold;
    color: #1653da;
    border-bottom: 1px solid #1653da;
  }
}

.logoListToogle {
  z-index: 5;
  background: white;
  position: absolute;
  width: 150px;
  margin: 20px -60px;
  border-radius: 5px;
  box-shadow: 0px 8px 24px 0px rgba(204, 204, 204, 0.5);
}
// 나의 정보 페이지 ======================
.Myinfo {
  width: 100%;
  margin-left: 60px;
  font-size: 1.3rem;

  & .passwordInput {
    margin-left: 20px;
  }
  & .StackChangeBtn {
    width: 48px;
    height: 40px;
    border: 1px solid red;
  }
  & button {
    background-color: rgb(204, 204, 204);
    border-radius: 3px;
    color: #ffffff;
    border-style: none;
    margin-left: 20px;
  }
  & .passwordError {
    margin-left: 20px;
    font-size: 0.7rem;
    color: red;
  }
  & .myinfoInput {
    // checkbox
    & input {
      margin-left: 20px;
    }
  }
  // adduser 페이지 ====================
  & .userInput {
    width: 12%;
    margin-left: 15px;
    font-size: 0.7rem;
  }
  & .addErrorText {
    color: red;
    font-size: 0.7rem;
  }
  & .addUserInput {
    & input {
      margin: 0 10px;
    }
  }
  & .addBtn {
    width: 20%;
    margin: 0;
    margin-bottom: 20px;
  }
}

// 로그인 페이지 ========================

.LoginPage {
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0px 8px 24px 0px rgba(204, 204, 204, 0.2);
  border-radius: 20px;
  display: flex;
  justify-content: center;

  & .LoginContener {
    position: absolute;
    width: 400px;
    margin: 77px auto;
  }
  & .alignText {
    & span {
      position: relative;
      left: 12px;
      top: -6px;
    }
  }
  // login logo ===============================

  & .logo {
    width: 100%;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 40px;

    & .img {
      width: 200px;
      height: 100px;
      background: url("../../asset/imgs/docuChain_logo.png");
      background-size: 200px;
      background-repeat: no-repeat;
    }
  }

  // Login input =================================

  & .login--input {
    outline: none;
    border: none;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
    font-size: 0.8rem;
    color: #555;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: 0 0;
    padding: 0 5px;

    // ============================

    & .focus--input100 {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
    }

    & .focus--input100::before {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
      transition: all 0.4s;
    }

    & .focus--input100::after {
      font-size: 0.9rem;
      color: #999;
      content: attr(data-placeholder);
      display: block;
      width: 100%;
      position: absolute;
      top: -10px;
      left: 0;
      padding-left: 5px;
      transition: all 0.4s;
    }
  }

  // 로그인 버튼 ======================

  & .login-form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;

    & .login100-form-btn {
      width: 100%;
      height: 100%;
      display: block;
      position: relative;
      z-index: 1;
      border-radius: 25px;
      overflow: hidden;
      margin: 0 auto;
    }
    & .form-bgbtn {
      position: absolute;
      z-index: -1;
      width: 300%;
      height: 100%;
      top: 0;
      left: -100%;
      background: -webkit-linear-gradient(
        right,
        #21d4fd,
        #b721ff,
        #21d4fd,
        #b721ff
      );
    }
    & Button {
      font-size: 1.2rem;
      font-weight: bold;
      color: #fff;
      line-height: 1.2;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
      width: 100%;
      height: 50px;
      outline: none !important;
      border: none;
      background: 0 0;
      cursor: pointer;
    }
  }
  & .ErrorMessage {
    color: red;
    position: relative;
    top: 25px;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
