//ServiceChart 부분
.serviceMain_Center {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f7ff;
}
.ServiceChart {
  display: flex;
  flex-direction: center;
  //추후 변경 예정입니다.
  font-size: 10px;
  margin: 10px;
  background-color: "#F4F4F4";
}
.serviceChart_Center {
  position: relative;
  flex-direction: center;
  align-items: flex-start;
  width: 100%;
  // border: 1px solid blue;
}
.serviceChart_Top5 {
  width: 50%;
  border-radius: 20px;
}
.Barchart_apiCallRank {
  margin-left: 20px;
}
.serviceTable {
  margin: 10px;
}
// navbarList
// color 전체 적용 확인!
a {
  color: rgba(0, 0, 0, 0.87);
}
// 목록으로 버튼 ======================
.serviceHome--Btn {
  float: right;
  margin: 10px;
}
//============================================== Service Detail
.serviceDetail {
  width: 1300px;
}
.serviceDetail--box {
  float: left;
}
.serviceDetail--title {
  width: 48%;
}
.serviceDetail--main {
  width: 48%;
}
.Tbody {
  width: 100%;
  height: 100%;
  // border: 1px solid red;
}
