@import "./pages/common/style/navbar.scss";

.App {
  text-align: center;
}

/* pageRouterApp */
a{
  color: black;
  text-decoration: none;
}
li{
list-style: none;
}

.pageRouterWrap{
  height: 100vh;
  overflow: hidden;
  display: flex;
}
.pageRouterWrap--left{
  font-size: 1.5rem;
  background: #1653DA;
  width: 360px;
}
.pageRouterWrap--right{
  width: 100vw;
  border: 1px solid blue;
}
.pageRouterWrap--right--header{
  /* height: 116px; */
  height: 8vh;
}