/* common */
@import "./pages/common/style/navbar.scss";
@import "./pages/common/style/hedaer.scss";
@import "./pages/common/style/footer.scss";
@import "./pages/common/style/contents.scss";
@import "./pages/common/style/boxShadow.scss";
/* dash */

.App {
}

/* pageRouterApp */
a {
  color: black;
  text-decoration: none;
}
li {
  list-style: none;
}

.pageRouterWrap {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
}
.pageRouterWrap--left {
  width: 280px;
  min-width: 280px;
  font-size: 1.5rem;
  background: #1653da;
}
.pageRouterWrap--right {
  width: 86vw;
  border: 1px solid blue;
}
.pageRouterWrap--right--header {
  /* height: 116px; */
  height: 8vh;
}
