.blockContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blockTitle {
  border: 1px solid blue;
  min-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.blockChartContainer {
  display: flex;
  margin-bottom: 40px;
}
.blockdetailwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blockDetailDataModalContainer {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  height: 800px;
  align-items: center;
}
.blockDetailDataModalContainer .blockDetailDataModal {
  border: 1px solid green;
  width: 800px;
  height: 400px;
}
/* blockDetailTable */
.blockDetailTable {
  border: 1px solid blue;
}

/* blockDetailTitle */
.blockDetailTitle {
  width: 100%;
  display: flex;
  justify-content: center;
}
.blockDetailTitleContainer {
  min-width: 1200px;
  border: 1px solid blue;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.blockDetailTitleRight {
  display: flex;
  align-items: center;
}
